In [1]:
import pandas as pd

In [2]:
#import the monthly listings csv
ml=pd.read_csv('documents/homeworkarchive/p3d/MonthlyListings_NSA_AllHomes_City.csv')

In [3]:
#filter to just minnesota
ml=ml[ml['StateName']=='MN']

In [4]:
#drop excess columns
ml=ml.drop(['SizeRank','RegionID', 'RegionType','StateName'], axis=1)

In [5]:
#transpose and group the dates
ml=pd.melt(ml,id_vars=['RegionName'],var_name='Date',value_name='Number_of_Listings')

In [6]:
#add two columns to split the date information by month and year
ml=ml.join(ml['Date'].str.split('-',expand=True).rename(columns={0:'Year',1:'Month'}))

In [7]:
#import the monthly median values csv
mv=pd.read_csv('documents/homeworkarchive/p3d/City_MedianValuePerSqft_AllHomes.csv')

In [8]:
#filter to just minnesota
mv=mv[mv['State']=='MN']

In [9]:
#drop excess columns
mv=mv.drop(['RegionID','State', 'Metro','CountyName','SizeRank'], axis=1)

In [10]:
#transpose and group the data
mv=pd.melt(mv,id_vars=['RegionName'],var_name='Date',value_name='Median_sqft_Value')

In [11]:
#merge dataframes
zdat=pd.merge(ml, mv, on=['RegionName', 'Date'], how='left')

In [12]:
zdat.head()

    RegionName     Date  Number_of_Listings  Year Month  Median_sqft_Value
0  Minneapolis  2013-01              1082.0  2013    01              151.0
1   Saint Paul  2013-01               726.0  2013    01              108.0
2    Rochester  2013-01               435.0  2013    01              141.0
3       Duluth  2013-01               532.0  2013    01              141.0
4  Bloomington  2013-01               190.0  2013    01              149.0

In [13]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [14]:
engine = create_engine("sqlite:///documents/homeworkarchive/p3d/zdat.sqlite", pool_pre_ping=True)

In [15]:
zdat.to_sql('zilloData',con=engine)