In [1]:
import dash
from dash.dependencies import Input, Output
import dash_core_components as dcc
import dash_html_components as html

import flask
import pandas as pd
import time
import os

import sqlite3

In [2]:
server = flask.Flask('app')
server.secret_key = os.environ.get('secret_key', 'secret')


conn=sqlite3.connect('documents/homeworkarchive/p3d/zdat.sqlite')
c=conn.cursor()
c.execute('select * from zilloData;')

In [3]:
df=pd.read_sql_query('select * from zilloData;',conn)
df.head()

,index,RegionName,Date,Number_of_Listings,Year,Month,Median_sqft_Value
0,0,Minneapolis,2013-01,1082.0,2013,01,151.0
1,1,Saint Paul,2013-01,726.0,2013,01,108.0
2,2,Rochester,2013-01,435.0,2013,01,141.0
3,3,Duluth,2013-01,532.0,2013,01,141.0
4,4,Bloomington,2013-01,190.0,2013,01,149.0

In [ ]:
app = dash.Dash('app', server=server)

app.scripts.config.serve_locally = True
#dcc._js_dist[0]['external_url'] = df

app.layout = html.Div([
    html.H1('Zillo Data'),
    dcc.Dropdown(
        id='my-dropdown',
        options=[
            {'label': 'Minneapolis', 'value': 'Minneapolis'},
            {'label': 'Saint Paul', 'value': 'Saint Paul'},
            {'label': 'Rochester', 'value': 'Rochester'}
        ],
        value='Minneapolis'
    ),
    dcc.Graph(id='my-graph')
], className="container")

@app.callback(Output('my-graph', 'figure'),
              [Input('my-dropdown', 'value')])

def update_graph(selected_dropdown_value):
    dff = df[df['RegionName'] == selected_dropdown_value]
    return {
        'data': [{
            'x': dff.Date,
            'y': dff.Number_of_Listings,
            'line': {
                'width': 3,
                'shape': 'spline'
            }
        }],
        'layout': {
            'margin': {
                'l': 30,
                'r': 20,
                'b': 30,
                't': 20
            }
        }
    }

if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "app" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [31/Mar/2019 14:43:56] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [31/Mar/2019 14:43:57] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [31/Mar/2019 14:43:57] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [31/Mar/2019 14:43:57] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [31/Mar/2019 14:44:43] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [31/Mar/2019 14:45:03] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [31/Mar/2019 14:46:00] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [31/Mar/2019 14:46:11] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [31/Mar/2019 14:46:13] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [31/Mar/2019 14:46:45] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [31/Mar/2019 14:47:07] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [31/Mar/2019 14:47:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [31/Mar/2019 14:48:04] "POST /_dash-update-component HTTP/1.1" 200 -