In [1]:
import pandas as pd
import glob

In [2]:
path = r'Desktop/pro3'
filenames = glob.glob(path + "/*.csv")
dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))
pro3 = pd.concat(dfs, ignore_index=True)

/anaconda3/lib/python2.7/site-packages/ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [3]:
# SQL dependencies
# sqlite database file
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

engine = create_engine("sqlite:///pro3.sqlite")

In [6]:
pro3=pro3.drop(columns=['1996-04',
 '1996-05',
 '1996-06',
 '1996-07',
 '1996-08',
 '1996-09',
 '1996-10',
 '1996-11',
 '1996-12',
 '1997-01',
 '1997-02',
 '1997-03',
 '1997-04',
 '1997-05',
 '1997-06',
 '1997-07',
 '1997-08',
 '1997-09',
 '1997-10',
 '1997-11',
 '1997-12',
 '1998-01',
 '1998-02',
 '1998-03',
 '1998-04',
 '1998-05',
 '1998-06',
 '1998-07',
 '1998-08',
 '1998-09',
 '1998-10',
 '1998-11',
 '1998-12',
 '1999-01',
 '1999-02',
 '1999-03',
 '1999-04',
 '1999-05',
 '1999-06',
 '1999-07',
 '1999-08',
 '1999-09',
 '1999-10',
 '1999-11',
 '1999-12',])

In [7]:
list(pro3.columns.values)

['10Year',
 '2000-01',
 '2000-02',
 '2000-03',
 '2000-04',
 '2000-05',
 '2000-06',
 '2000-07',
 '2000-08',
 '2000-09',
 '2000-10',
 '2000-11',
 '2000-12',
 '2001-01',
 '2001-02',
 '2001-03',
 '2001-04',
 '2001-05',
 '2001-06',
 '2001-07',
 '2001-08',
 '2001-09',
 '2001-10',
 '2001-11',
 '2001-12',
 '2002-01',
 '2002-02',
 '2002-03',
 '2002-04',
 '2002-05',
 '2002-06',
 '2002-07',
 '2002-08',
 '2002-09',
 '2002-10',
 '2002-11',
 '2002-12',
 '2003-01',
 '2003-02',
 '2003-03',
 '2003-04',
 '2003-05',
 '2003-06',
 '2003-07',
 '2003-08',
 '2003-09',
 '2003-10',
 '2003-11',
 '2003-12',
 '2004-01',
 '2004-02',
 '2004-03',
 '2004-04',
 '2004-05',
 '2004-06',
 '2004-07',
 '2004-08',
 '2004-09',
 '2004-10',
 '2004-11',
 '2004-12',
 '2005-01',
 '2005-02',
 '2005-03',
 '2005-04',
 '2005-05',
 '2005-06',
 '2005-07',
 '2005-08',
 '2005-09',
 '2005-10',
 '2005-11',
 '2005-12',
 '2006-01',
 '2006-02',
 '2006-03',
 '2006-04',
 '2006-05',
 '2006-06',
 '2006-07',
 '2006-08',
 '2006-09',
 '2006-10',
 '2006-11',
 '2006-12',
 '2007-01',
 '2007-02',
 '2007-03',
 '2007-04',
 '2007-05',
 '2007-06',
 '2007-07',
 '2007-08',
 '2007-09',
 '2007-10',
 '2007-11',
 '2007-12',
 '2008-01',
 '2008-02',
 '2008-03',
 '2008-04',
 '2008-05',
 '2008-06',
 '2008-07',
 '2008-08',
 '2008-09',
 '2008-10',
 '2008-11',
 '2008-12',
 '2009-01',
 '2009-02',
 '2009-03',
 '2009-04',
 '2009-05',
 '2009-06',
 '2009-07',
 '2009-08',
 '2009-09',
 '2009-10',
 '2009-11',
 '2009-12',
 '2010-01',
 '2010-02',
 '2010-03',
 '2010-04',
 '2010-05',
 '2010-06',
 '2010-07',
 '2010-08',
 '2010-09',
 '2010-10',
 '2010-11',
 '2010-12',
 '2011-01',
 '2011-02',
 '2011-03',
 '2011-04',
 '2011-05',
 '2011-06',
 '2011-07',
 '2011-08',
 '2011-09',
 '2011-1',
 '2011-10',
 '2011-11',
 '2011-12',
 '2011-2',
 '2011-3',
 '2011-4',
 '2011-5',
 '2011-6',
 '2011-7',
 '2011-8',
 '2011-9',
 '2012-01',
 '2012-02',
 '2012-03',
 '2012-04',
 '2012-05',
 '2012-06',
 '2012-07',
 '2012-08',
 '2012-09',
 '2012-1',
 '2012-10',
 '2012-11',
 '2012-12',
 '2012-2',
 '2012-3',
 '2012-4',
 '2012-5',
 '2012-6',
 '2012-7',
 '2012-8',
 '2012-9',
 '2013-01',
 '2013-02',
 '2013-03',
 '2013-04',
 '2013-05',
 '2013-06',
 '2013-07',
 '2013-08',
 '2013-09',
 '2013-1',
 '2013-10',
 '2013-11',
 '2013-12',
 '2013-2',
 '2013-3',
 '2013-4',
 '2013-5',
 '2013-6',
 '2013-7',
 '2013-8',
 '2013-9',
 '2014-01',
 '2014-02',
 '2014-03',
 '2014-04',
 '2014-05',
 '2014-06',
 '2014-07',
 '2014-08',
 '2014-09',
 '2014-1',
 '2014-10',
 '2014-11',
 '2014-12',
 '2014-2',
 '2014-3',
 '2014-4',
 '2014-5',
 '2014-6',
 '2014-7',
 '2014-8',
 '2014-9',
 '2015-01',
 '2015-02',
 '2015-03',
 '2015-04',
 '2015-05',
 '2015-06',
 '2015-07',
 '2015-08',
 '2015-09',
 '2015-1',
 '2015-10',
 '2015-11',
 '2015-12',
 '2015-2',
 '2015-3',
 '2015-4',
 '2015-5',
 '2015-6',
 '2015-7',
 '2015-8',
 '2015-9',
 '2016-01',
 '2016-02',
 '2016-03',
 '2016-04',
 '2016-05',
 '2016-06',
 '2016-07',
 '2016-08',
 '2016-09',
 '2016-1',
 '2016-10',
 '2016-11',
 '2016-12',
 '2016-2',
 '2016-3',
 '2016-4',
 '2016-5',
 '2016-6',
 '2016-7',
 '2016-8',
 '2016-9',
 '2017-01',
 '2017-02',
 '2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2017-1',
 '2017-10',
 '2017-11',
 '2017-12',
 '2017-2',
 '2017-3',
 '2017-4',
 '2017-5',
 '2017-6',
 '2017-7',
 '2017-8',
 '2017-9',
 '2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-1',
 '2018-10',
 '2018-11',
 '2018-12',
 '2018-2',
 '2018-3',
 '2018-4',
 '2018-5',
 '2018-6',
 '2018-7',
 '2018-8',
 '2018-9',
 '2019-01',
 '2019-02',
 '2019-1',
 '2019-2',
 '5Year',
 'County',
 'CountyName',
 'Date',
 'LastTimeAtCurrZHVI',
 'MSA',
 'MSARegionID',
 'Metro',
 'MoM',
 'PctFallFromPeak',
 'PeakMonth',
 'PeakQuarter',
 'PeakZHVI',
 'QoQ',
 'RegionID',
 'RegionName',
 'RegionType',
 'SizeRank',
 'State',
 'StateName',
 'YoY',
 'Zhvi']

In [13]:
pro3=pro3[pro3['State']=='MN']

In [14]:
pro3.head()

,10Year,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,2000-09,...,PeakZHVI,QoQ,RegionID,RegionName,RegionType,SizeRank,State,StateName,YoY,Zhvi
39,NaN,84.36,88.63,91.02,92.51,93.91,94.84,95.84,96.22,96.53,...,NaN,NaN,5983.0,Minneapolis,NaN,40,MN,NaN,NaN,NaN
62,NaN,93.57,91.73,93.01,93.98,94.02,95.08,94.15,94.41,94.42,...,NaN,NaN,20313.0,Saint Paul,NaN,63,MN,NaN,NaN,NaN
243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26791.0,Rochester,NaN,244,MN,NaN,NaN,NaN
370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,51758.0,Duluth,NaN,371,MN,NaN,NaN,NaN
413,NaN,93.93,93.83,93.00,93.24,92.76,93.54,95.09,95.25,95.72,...,NaN,NaN,10451.0,Bloomington,NaN,414,MN,NaN,NaN,NaN

In [16]:
pro3.to_sql("Pro3", con=engine)

In [17]:
pro3.describe()

,10Year,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,2000-09,...,5Year,MSARegionID,MoM,PctFallFromPeak,PeakZHVI,QoQ,RegionID,SizeRank,YoY,Zhvi
count,333.000000,2747.000000,2747.000000,2747.000000,2747.000000,2747.000000,2747.000000,2747.000000,2747.000000,2747.000000,...,349.000000,0.0,351.000000,351.000000,351.000000,351.000000,3968.000000,4350.000000,351.000000,351.000000
mean,0.027535,99058.589720,100192.273524,101288.876203,102412.434135,103531.291733,104640.302610,105733.863651,106810.893527,107879.482479,...,0.058793,NaN,-0.000489,-0.011429,226994.017094,0.009193,32219.629032,5596.274253,0.065927,224744.159544
std,0.009956,77750.005171,78679.562226,79587.100325,80512.496387,81434.607786,82351.077226,83256.002770,84149.802808,85035.533998,...,0.015093,NaN,0.006725,0.027928,97997.816848,0.016742,28717.561264,3600.140687,0.037024,97421.269099
min,-0.014126,0.080000,0.170000,0.100000,0.090000,0.030000,0.090000,0.150000,0.000000,0.000000,...,-0.009930,NaN,-0.023430,-0.246642,60000.000000,-0.051020,3425.000000,37.000000,-0.078284,56300.000000
25%,0.022226,48850.000000,49400.000000,49800.000000,49900.000000,50600.000000,51000.000000,51400.000000,51900.000000,52700.000000,...,0.049097,NaN,-0.004953,-0.007718,171100.000000,0.000701,15708.000000,2319.250000,0.042922,165600.000000
50%,0.027476,102400.000000,103700.000000,105300.000000,106700.000000,108200.000000,109400.000000,110600.000000,111800.000000,113100.000000,...,0.059085,NaN,-0.000288,-0.001605,214900.000000,0.009567,30356.000000,5396.000000,0.064734,214000.000000
75%,0.033433,138400.000000,139900.000000,141550.000000,142950.000000,144300.000000,146000.000000,147450.000000,148700.000000,149950.000000,...,0.068348,NaN,0.003949,0.000000,262700.000000,0.017845,44030.000000,8568.000000,0.089166,262300.000000
max,0.061543,679500.000000,687000.000000,694700.000000,702700.000000,710800.000000,719100.000000,727300.000000,735600.000000,744000.000000,...,0.114264,NaN,0.023725,0.000000,766500.000000,0.082811,397862.000000,13433.000000,0.191056,729400.000000