In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
f1=pd.read_csv('documents/homeworkarchive/p3d/MonthlyListings_NSA_AllHomes_City.csv')

In [3]:
f1.columns = f1.columns.str.replace('-','L')

In [4]:
f1=f1[f1['StateName']=='MN']

In [5]:
f1=f1.drop(['RegionID', 'RegionName', 'StateName','RegionType'], axis=1)

In [6]:
f2=pd.read_csv('documents/homeworkarchive/p3d/City_MedianValuePerSqft_AllHomes.csv')

In [7]:
f2.columns = f2.columns.str.replace('-','V')

In [8]:
f2=f2[f2['State']=='MN']

In [9]:
f1=f1.set_index('SizeRank').join(f2.set_index('SizeRank'))

In [10]:
f1=f1.transpose()

In [11]:
f1.head()

SizeRank,46,71,278,417,461,531,569,652,656,664,...,6281,6312,6358,6378,6420,6455,6928,6951,7041,7112
2013L01,1082,726,435,532,190,245,256,202,204,149,...,40,NaN,16,48,18,26,31,51,33,18
2013L02,1072,706,508,512,177,211,244,215,216,136,...,40,NaN,13,46,24,26,27,41,30,19
2013L03,1142,719,590,564,195,232,255,249,250,138,...,44,NaN,15,48,23,22,27,43,28,15
2013L04,1251,769,633,623,193,250,280,250,274,133,...,51,NaN,19,48,31,24,25,57,27,16
2013L05,1347,842,686,680,224,264,347,278,319,193,...,61,NaN,26,64,28,32,33,75,28,16

In [12]:
engine = create_engine("sqlite:///documents/homeworkarchive/p3d/zdat.sqlite", pool_pre_ping=True)

In [14]:
f1.to_sql('data',con=engine)