In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
f1=pd.read_csv('documents/homeworkarchive/p3d/MonthlyListings_NSA_AllHomes_City.csv')

In [3]:
#f1=f1.set_index('RegionName')

In [4]:
f1=f1[f1['StateName']=='MN']

In [5]:
f1=f1.drop(['RegionID','StateName','RegionType', 'SizeRank'], axis=1)

In [ ]:
#f1=f1.transpose()

In [6]:
f1.head()

,RegionName,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,...,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02
45,Minneapolis,1082.0,1072.0,1142.0,1251.0,1347.0,1368.0,1472.0,1407.0,1341.0,...,1107.0,1120.0,1167.0,1374.0,1340.0,1439.0,1134.0,888.0,870.0,802
70,Saint Paul,726.0,706.0,719.0,769.0,842.0,817.0,960.0,970.0,982.0,...,699.0,716.0,745.0,869.0,869.0,939.0,737.0,583.0,515.0,450
277,Rochester,435.0,508.0,590.0,633.0,686.0,671.0,710.0,671.0,657.0,...,534.0,485.0,481.0,536.0,539.0,532.0,420.0,303.0,287.0,283
417,Duluth,532.0,512.0,564.0,623.0,680.0,691.0,738.0,697.0,683.0,...,344.0,381.0,376.0,413.0,365.0,361.0,296.0,210.0,170.0,158
461,Bloomington,190.0,177.0,195.0,193.0,224.0,203.0,225.0,227.0,217.0,...,230.0,241.0,254.0,290.0,268.0,264.0,204.0,151.0,130.0,126

In [7]:
f2=pd.read_csv('documents/homeworkarchive/p3d/City_MedianValuePerSqft_AllHomes.csv')

In [8]:
f2=f2[f2['State']=='MN']

In [9]:
#f2=f2.set_index('RegionName')

In [10]:
f2=f2.drop(['RegionID','State','Metro', 'CountyName','SizeRank'], axis=1)

In [11]:
#f2=f2.transpose()

In [12]:
f2.head()

,RegionName,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,...,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02
46,Minneapolis,69.0,69.0,69.0,69.0,70.0,70.0,70.0,70.0,71.0,...,230,230,230,230,230,231,232,233,234,234
73,Saint Paul,65.0,66.0,66.0,65.0,65.0,65.0,65.0,65.0,66.0,...,183,183,183,183,183,183,184,185,186,187
288,Rochester,82.0,82.0,83.0,83.0,84.0,84.0,85.0,85.0,86.0,...,195,197,197,197,198,200,202,202,203,205
438,Duluth,61.0,63.0,64.0,66.0,67.0,68.0,69.0,69.0,68.0,...,182,183,184,185,185,186,186,187,187,187
488,Bloomington,93.0,93.0,93.0,94.0,94.0,95.0,95.0,95.0,96.0,...,211,210,211,211,212,213,214,215,215,215

In [13]:
engine = create_engine("sqlite:///documents/homeworkarchive/p3d/zdat.sqlite", pool_pre_ping=True)

In [15]:
f1.to_sql('MonthlyListings',con=engine)

In [16]:
f2.to_sql('MedianValue',con=engine)