In [1]:
#here I alsmost got geopandas working

import geopandas

In [2]:
df=geopandas.read_file('documents/homeworkarchive/p3d/City_Boundaries_in_Minnesota.shp')

In [17]:
df.crs

{u'init': u'epsg:26915'}

In [20]:
df.describe()

,GNIS_FEATU,COUNTY_GNI,COUNTY_COD,POPULATION,SHAPE_Leng,SHAPE_Area
count,8.980000e+02,898.000000,898.000000,898.000000,898.000000,8.980000e+02
mean,2.372179e+06,659615.062361,44.899777,5051.802895,17270.533008,1.350706e+07
std,1.988294e+05,645.548023,25.411726,20156.278177,17947.882876,3.099747e+07
min,6.637720e+05,659447.000000,1.000000,0.000000,723.808150,2.255044e+04
25%,2.394298e+06,659468.250000,23.000000,195.000000,6424.653927,1.544530e+06
50%,2.395222e+06,659492.000000,46.500000,651.000000,10442.050237,3.258548e+06
75%,2.396081e+06,659513.000000,67.000000,2623.250000,21775.122772,8.716871e+06
max,2.437910e+06,663198.000000,87.000000,412517.000000,191315.020169,4.823371e+08

In [4]:
df.to_file('shapefile.geojson', driver="GeoJSON")

/anaconda3/lib/python2.7/site-packages/geopandas/io/file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():

GeometryTypeValidationError: Record's geometry type does not match collection schema's geometry type: 'MultiPolygon' != 'Polygon'

In [5]:
df2=geopandas.read_file('shapefile.geojson')

In [21]:
df2.describe()

,GNIS_FEATU,COUNTY_GNI,COUNTY_COD,POPULATION,SHAPE_Leng,SHAPE_Area
count,5.000000e+00,5.00000,5.000000,5.000000,5.000000,5.000000e+00
mean,2.396572e+06,659491.80000,47.000000,298.800000,8153.758206,2.991627e+06
std,8.159037e+02,22.79693,23.151674,289.569853,3058.954369,1.616278e+06
min,2.395247e+06,659469.00000,24.000000,50.000000,5065.139661,1.315488e+06
25%,2.396313e+06,659471.00000,26.000000,68.000000,5483.220018,1.731398e+06
50%,2.397072e+06,659494.00000,49.000000,150.000000,8122.154915,2.672616e+06
75%,2.397101e+06,659501.00000,56.000000,595.000000,9636.690167,4.048669e+06
max,2.397129e+06,659524.00000,80.000000,631.000000,12461.586269,5.189964e+06

In [12]:
dfd = pd.read_sql_query("select * from MedianValue;", conn)
dfd.head()

,index,RegionName,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,...,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02
0,46,Minneapolis,69.0,69.0,69.0,69.0,70.0,70.0,70.0,70.0,...,230,230,230,230,230,231,232,233,234,234
1,73,Saint Paul,65.0,66.0,66.0,65.0,65.0,65.0,65.0,65.0,...,183,183,183,183,183,183,184,185,186,187
2,288,Rochester,82.0,82.0,83.0,83.0,84.0,84.0,85.0,85.0,...,195,197,197,197,198,200,202,202,203,205
3,438,Duluth,61.0,63.0,64.0,66.0,67.0,68.0,69.0,69.0,...,182,183,184,185,185,186,186,187,187,187
4,488,Bloomington,93.0,93.0,93.0,94.0,94.0,95.0,95.0,95.0,...,211,210,211,211,212,213,214,215,215,215

In [13]:
df4 = df.merge(dfd, on=['RegionName'])
df4

KeyError: 'RegionName'

In [16]:
df2.groupby('RegionName')['RegionName'].nunique()

RegionName
Norcross      1
Randall       1
Twin Lakes    1
Urbank        1
Verndale      1
Name: RegionName, dtype: int64